* {
	box-sizing: border-box;
}

body {
		background-image: url(images/background-img.png);
}

h1,
.panel-title {
	color: #4aaaa5;
	font-family: 'Georgia', 'Times', Times New Roman, serif;
	font-weight: bold;
}

h1 {
	font-size: 38px;
}

.panel-title {
	font-size: 26px;
	text-align: center;
}

p,
label {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777;
}

#main-content {
	background-color: #fff;
	border-style: solid;
	border-color: #ddd;
	border-width: 1px; 
	margin-bottom: 20px;
	padding-bottom: 20px;
}

#sidebar {
	border-style: solid;
	border-color: #ddd;
	border-width: 1px; 
}

